{
  "presets": ["@babel/preset-env"],
  "ignore": ["node_modules"],
  "plugins": ["istanbul", "@babel/transform-runtime"],
  "env": {
    "debug": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}
